### 경력에 따른 연봉 예측하기

> **Function**

- info() : 데이터가 가지고 있는 변수 확인 ex) 열 이름, 결측값, 자료형
- describe() : 통계 정보 출력 ex) 개수, 표준편차, 평균, 최대/최소값

In [65]:
# 1. 데이터 불러오기
import pandas as pd
import numpy as np

data = pd.read_csv('Salary_dataset.csv')

In [66]:
data.info() # 데이터가 가지고 있는 변수 확인
# column : 변수 이름 
# non_null Count : 결측치 
# Dtype = 자료형

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       30 non-null     int64
 1   YearsExperience  30 non-null     float64
 2   Salary           30 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 848.0 bytes

In [60]:
data.describe()

       Unnamed: 0  YearsExperience         Salary
count   30.000000        30.000000      30.000000
mean    14.500000         5.413333   76004.000000
std      8.803408         2.837888   27414.429785
min      0.000000         1.200000   37732.000000
25%      7.250000         3.300000   56721.750000
50%     14.500000         4.800000   65238.000000
75%     21.750000         7.800000  100545.750000
max     29.000000        10.600000  122392.000000

In [61]:
X = data[['YearsExperience']].to_numpy() # 독립변수 
Y = data['Salary'].to_numpy() # 종속변수
# 독립 변수(경력)로 종속 변수(연봉) 예측

In [62]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.2, random_state=100)
# train_test_split : 학습 데이터와 시험 데이터를 나눠주는 역할 수행 
# test_size : 시험 데이터의 비율 -> 0.2는 학습 데이터와 시험 데이터의 비율이 8:2라는 것

In [63]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)
pred = model.predict(x_test)

In [68]:
model.score(X,Y)

0.9564484014526231